<a href="https://colab.research.google.com/github/ZeenatSehar1/lecture-4/blob/main/lecture_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practice** **Questions**

Use a for loop to print all numbers divisible by 7 from 1 to 100.

In [ ]:
for i in range (1,101):
  if i%7==0:
     print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

Calculate and print the sum of even numbers using a for loop from 1 to 50.

In [ ]:
sum=0
for i in range(1,51):
  if i%2==0:
    sum+=i

print(sum)

650

Ask the user for a password in a while loop. Allow 3 tries, and if the correct password is
entered, print "Access granted"
, otherwise print "Blocked".

In [ ]:
password=12345
i=1
while i<=3:
  if int(input("Enter password: "))==password:
    print("Access granted")
    break
  i+=1

else:
    print("Blocked")

Enter password: 654
Enter password: 543
Enter password: 12345
Access granted

Create a countdown from 10 to 1 using a while loop. Use break if it reaches 5 and print
"Midpoint reached".

In [ ]:
i=1
while i<=10:
  if i==5:
    print("Midpoint reached")
    break
  print(11-i)
  i+=1

10
9
8
7
Midpoint reached

From 1 to 500, use a loop to find the first number divisible by both 13 and 7. Use break.

In [39]:
i = 1
while i <= 500:
    if i % 13 == 0 and i % 7 == 0:
        print(i)
        break
    i += 1

91

From a list of words, create a dictionary where key is the word and value is the length, but
only for words longer than 4 letters.

In [ ]:
words = ["apple", "cat", "banana", "dog", "elephant", "sun"]

result = {}

for word in words:
    if len(word) > 4:
        result[word] = len(word)

print(result)

{'apple': 5, 'banana': 6, 'elephant': 8}

Given a string, build a dictionary using comprehension where the keys are characters and
values are their frequency in the string

In [ ]:
text = "programming"

freq = {ch: text.count(ch) for ch in text}

print(freq)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

Create a list from 100 to 150 using list comprehension where prime numbers stay as-is, and
non-primes become "Not Prime".

In [ ]:
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return n > 1

result = [n if is_prime(n) else "Not Prime" for n in range(100, 151)]

print(result)

['Not Prime', 101, 'Not Prime', 103, 'Not Prime', 'Not Prime', 'Not Prime', 107, 'Not Prime', 109, 'Not Prime', 'Not Prime', 'Not Prime', 113, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 127, 'Not Prime', 'Not Prime', 'Not Prime', 131, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 137, 'Not Prime', 139, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 149, 'Not Prime']

**Assignment**

**List Categorizer** Given a list of integers:
l = list(range(1,21))
Separate them into 3 lists:
Even
Odd
Multiples of 5
Print all 3 lists at the end

In [35]:
l = list(range(1, 21))

even = []
odd = []
multiples_of_5 = []

for num in l:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

    if num % 5 == 0:
        multiples_of_5.append(num)

print("Even numbers:", even)
print("Odd numbers:", odd)
print("Multiples of 5:", multiples_of_5)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Multiples of 5: [5, 10, 15, 20]

**FizzBuzz Dictionatry** Make a dictionary for numbers 1 to 30 with:
"Fizz" if divisible by 3
"Buzz" if divisible by 5
"FizzBuzz" if divisible by both
"None" otherwise

In [36]:
fizzbuzz_dict = {}

for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        fizzbuzz_dict[i] = "FizzBuzz"
    elif i % 3 == 0:
        fizzbuzz_dict[i] = "Fizz"
    elif i % 5 == 0:
        fizzbuzz_dict[i] = "Buzz"
    else:
        fizzbuzz_dict[i] = "None"

for key, value in fizzbuzz_dict.items():
    print(f"{key}: {value}")

1: None
2: None
3: Fizz
4: None
5: Buzz
6: Fizz
7: None
8: None
9: Fizz
10: Buzz
11: None
12: Fizz
13: None
14: None
15: FizzBuzz
16: None
17: None
18: Fizz
19: None
20: Buzz
21: Fizz
22: None
23: None
24: Fizz
25: Buzz
26: None
27: Fizz
28: None
29: None
30: FizzBuzz